{% extends 'back/layout_back.html.twig' %}

{% block title %}Liste des Saisons{% endblock %}

{% block body %}
    <h1>Liste des Saisons</h1>

    <a href="{{ path('app_back_season_new', {"id": movie.id}) }}" class="btn btn-success">Nouvelle Saison</a>
    <table class="table">
        <thead>
            <tr>
                <th>Série</th>
                <th>Saison N°</th>
                <th>Nombre d'épisodes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr>
                <td>{{ season.movie.title }}</td>
                <td>{{ season.number }}</td>
                <td>{{ season.episodesNumber }}</td>
                <td>
                    <a href="{{ path('app_back_season_show', {'id': season.id}) }}" class="btn btn-sm btn-success">show</a>
                    <a href="{{ path('app_back_season_edit', {'id': movie.id, 'idSeason': season.id}) }}" class="btn btn-sm btn-warning">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
