{% extends 'back/layout_back.html.twig' %}

{% block title %}Casting{% endblock %}

{% block body %}
    <h1>Casting</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ casting.id }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ casting.role }}</td>
            </tr>
            <tr>
                <th>CastingOrder</th>
                <td>{{ casting.castingOrder }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_back_casting_index') }}">back to list</a>

    <a href="{{ path('app_back_casting_edit', {'id': casting.id}) }}">edit</a>

    {{ include('back/casting/_delete_form.html.twig') }}
{% endblock %}
