{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.roles) }}
    <button class="btn btn-sm btn-info">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
