{% for movie in movies %}


	<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm bg-white position-relative">
		<div class="col-4 movie__poster" style="background-image: url({{ movie.poster }});">
			<img
			src="{{asset("images/poster-placeholder.png")}}" class="img-fluid">
		<!-- img src="https://m.media-amazon.com/images/M/MV5BNThmZGY4NzgtMTM4OC00NzNkLWEwNmEtMjdhMGY5YTc1NDE4XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg" class="img-fluid" -->
		</div>
		<div class="col-8 p-4 d-flex flex-column position-static">
			{{ include('front/favorites/_bookmark.html.twig', {key: movie.slug}) }}
			<strong class="d-inline-block mb-2 text-{{ movie.type == "Film" ? "primary" : "success"}}">{{ movie.type }}</strong>
			<h3 class="mb-1">{{ movie.title }}</h3>
			<div class="mb-1 text-muted">{{ movie.duration }}
				min</div>
			<p>
				<small>{{ movie.summary }}</small>
			</p>

			{{ include('front/main/_starsRating.html.twig', {'stars': movie.rating}) }}

			<a href="{{ path("front_main_show", {"slug": movie.slug}) }}" class="fs-1 mt-3 text-danger align-self-start">
				<i class="bi bi-arrow-right-square"></i>
			</a>
		</div>
	</div>

{% endfor %}
